//

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	line-height: 1.15;
	scroll-behavior: smooth;
}

p {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

body {
	margin: 0;
}

// Base End

.btn-reset {
	padding: 0;
	cursor: pointer;

	font: inherit;
	color: inherit;
	border: none;
	background-color: transparent;
}
:root {
	--black: #1b1b1b;
	--green: #1b9c6a;
	--red: #ec2020;
}

.inputs {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 50px;
	padding: 0 100px;
}

// States
.fieldActive {
	.input {
		border: 1px solid var(--green);
		&:focus {
			outline: 1px solid var(--green);
		}
	}
	.title {
		color: var(--green);
	}
	.eye {
		fill: var(--green);
	}
}

.fieldChecked {
	.input {
		border: 1px solid var(--black);
	}
	.eye {
		fill: var(--green);
	}
}

.fieldError {
	.input {
		border: 1px solid var(--red);
		caret-color: var(--red);
		&:focus {
			outline: 1px solid var(--red);
		}
	}
	.title {
		color: var(--red);
	}
	.eye {
		fill: var(--red);
	}
}
// States

.title {
	margin-bottom: 10px;
	padding-left: 10px;

	color: var(--black);
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 100%;
}

.input {
	width: 100%;
	border-radius: 4px;
	border: 1px solid #afafaf;
	padding: 10px;

	color: var(--black);
	font-family: Inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	letter-spacing: 0.5px;

	&::placeholder {
		color: #afafaf;
	}
}

.fieldWrapper {
	position: relative;
	.input {
		padding-right: 30px;
	}
}

.show {
	position: absolute;
	z-index: 1;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);

	&:focus {
		outline-offset: 3px;
	}

	&:active {
		outline-offset: 1px;
	}
}

.eye {
	display: block;
	width: 15px;
	height: 15px;
	fill: #afafaf;
}

.helperText {
	padding-left: 10px;
	margin-top: 10px;
	color: var(--red);

	font-family: Roboto;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 133.33%;
}
